header {
    padding: 20px 0;
}

.title_header h2 {
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 1px;
    margin: 0;
}

.title_header h2 span {
    font-size: 12px; 
    font-weight: normal;
    color: #858585;
}

